{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
 <!-- mistariz -->

 <section class="content-section" id="mistariz">
        <div class="container">
          <div class="content-section-heading text-center">
            <h1 class="text-secondary mb-0">MISTARIZ</h1>
            <h2 class="mb-5">Food For Thought</h2>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-6">
              <a class="mistariz-item" href="#">
                <span class="caption">
                  <span class="caption-content">
                    <h2>Francis Beaumont</h2>
                    <p class="mb-0">Nature too unkind; That made no medicine for a troubled mind</p>
                  </span>
                </span>
                <img class="img-fluid" src="../static/images/nature.jpeg" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="mistariz-item" href="#">
                <span class="caption">
                  <span class="caption-content">
                    <h2>Bob Marley - Redemption </h2>
                    <p class="mb-0">Emancipate yourselves from mental slavery,None but ourselves can free our minds</p>
                  </span>
                </span>
                <img class="img-fluid" src="../static/images/bob.jpeg" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="mistariz-item" href="#">
                <span class="caption">
                  <span class="caption-content">
                    <h2>Mama's love</h2>
                    <p class="mb-0">Be like a duck.On the surface cool and composed, But underneath paddling like hell.</p>
                  </span>
                </span>
                <img class="img-fluid" src="../static/images/duck.jpeg" alt="">
              </a>
            </div>
          </div>
        </div>